data/cifar-10-batches-py/
data/cifar-10-python.tar.gz
data/tiny-imagenet-200/

attack_result

__pycache__

.idea
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.sh
imagenet.sh
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
/site

tiny*.zip

